body {
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	margin-bottom: 10px;
}
h3 {
	font-size: 30px;
}

header {
	padding: 10px 0;
}

main {
	padding: 20px 0;
}

form .range-field {
	margin-top: 25px;
	position: relative;
	z-index: 2;
}

.row .questions-section {
	min-height: 400px;
}

.row .questions-section.col {
	margin: 10px 4%;

	animation-name: enter;
	animation-duration: 0.5s;
}

.row .questions-section .answer-false {
	background-color: #ff7043 !important;
	color: white !important;
}

.row .questions-section .answer-true {
	background-color: #43a047 !important;
	color: white !important;
}

.row .questions-section.col .profile_image_container {
	width: 16.33%;
}

.questions-section .card-title {
	font-weight: 400;
}

.questions-section .card:first-child {
	margin-top: 0;
}

.section-title {
	margin-bottom: 0;
	padding: 10px;
}

a.refresh-button.disabled {
	color: grey;
}





.card {
	position: relative;
	
	top: 100px;

	animation-name: enter_to_top;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.card:nth-child(1) { animation-duration: 0.2s; }
.card:nth-child(2) { animation-duration: 0.3s; }



@keyframes enter_to_top {
	0% {
		top: 100px;
		opacity: 0;
	} 
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes enter {
	0% {
		opacity: 0;
	} 
	100% {
		opacity: 1;
	}
}
